* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

html, body {
    height: 100vh;
    width: 100vw;
}

#page {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#page > div {
    position: absolute;
}

#page > div:not(.active) {
    display: none;
}

#menu {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 16px;
    border-radius: 5px;
    padding: 32px;
    background-color: aqua;
}

#menu > label, #menu > button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: blue;
    height: 32px;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

#menu > label > input[type="file"] {
    display: none;
}

#content {
    position: relative;
    height: 100%;
    width: 100%;
}

#content > canvas {
    position: absolute;
    top: 0;
    left: 0;
}